#lightning
#pytorch-lightning
numpy==1.23.5
scipy==1.10.1
scikit-image==0.19.3
pillow==9.4.0
matplotlib
scikit-learn
opencv-python
timm==0.4.12
transformers==4.34.1
torch==2.0.1
ptflops
natsort
tqdm
wandb
einops
lpips